<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lala">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cuentas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewPersonasActivity"></activity>
        <activity
            android:name=".PrestamoActivity"
            android:label="@string/title_activity_prestamo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeeTripMainActivity"
            android:label="@string/title_activity_see_trip_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateTrip"
            android:label="@string/title_activity_create_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TripsMainActivity"
            android:label="@string/title_activity_trips_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Cuentas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=576970357250-phkqrqimc3eavaahpt325s3rlk5hbuvv.apps.googleusercontent.com" />

            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />

                <data android:mimeType="application/vnd.google-apps.drive-sdk.576970357250-phkqrqimc3eavaahpt325s3rlk5hbuvv.apps.googleusercontent.com" />
                <data android:mimeType="application/x-sqlite3" />
            </intent-filter>
        </activity>
        <activity android:name=".NewAccount" />
        <activity
            android:name=".NewMotive"
            android:label="@string/title_activity_new_motive"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Gasto"
            android:label="@string/title_activity_gasto"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".seeMove"
            android:label="@string/title_activity_see_move"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".seeCuentas" />
        <activity
            android:name=".Traspaso"
            android:label="@string/title_activity_traspaso"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".seeTraspaso"
            android:label="@string/title_activity_see_traspaso"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reportes"
            android:label="@string/title_activity_reportes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeeByMotive" />
    </application>

</manifest>